---
layout: base.njk
title: Page Not Found
permalink: /404.html
eleventyExcludeFromCollections: true
---
<section class="section-intro">
  <h1>Page Not Found</h1>
  <p>That page doesn't exist. Head back to the <a href="{{ '/' | url }}">homepage</a> or browse all <a href="{{ '/videos/' | url }}">Video Articles</a>.</p>
</section>
